a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(156, 109, 1);
}

#c {
  color: rgb(156, 109, 1);
}

#write {
  color: rgb(70, 49, 0);
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-left: 0%;
}

li {
  text-align: center;
  margin: 10px;
  margin-bottom: 0px;
  padding: 10px;
  overflow: hidden;
}

a:hover {
  color: rgb(255, 179, 0);
}

.navbar-header {
  font-size: 3rem;
  margin: auto;
}

nav {
  margin-top: 30px;
}
